<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
	<!-- 扫描制定路径下的类 -->
	<context:component-scan base-package="com.yidu"></context:component-scan>
	<!-- 使用注解配置 -->
	<context:annotation-config/>
	<mvc:annotation-driven/>
	<!-- 启动Spring MVC的注解配置 -->
	<mvc:default-servlet-handler/>

	<!-- 多媒体解析 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置文件上传的属性 -->
		<property name="maxUploadSize" value="91200000"></property>
		<property name="defaultEncoding" value="utf-8"></property>
	</bean>

</beans>
